html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

body {line-height:1;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

/* Form Elements */
input, select {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}

a:hover, a:active {outline: none;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;} 

sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

a, img a, img, a img {border:0;	outline:0; text-decoration:none;}

/* FLOAT-elements */
.fltleft {float:left;}
.fltright {float:right;}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; } 

/* only to clear floats - to be used with any class as addition */
.clear {
	clear: both;
	}
	
/* clear float with blank <div>or <br>*/
.clrflt {
	clear:both;
	line-height:1px;
	font-size:1px;
	overflow: hidden;
	}
* {margin:0;padding:0;} 

html, body {font-family:Arial, Helvetica, sans-serif; background:#000;}

/*------------------------wrapper----------------------------*/
#wrapper
{
	width:900px;
	margin:0px auto;
}
#logo {
	background: url(img/thedeep_logo.jpg) no-repeat center center;
	width: 900px;
	height: 80px;
}
.video {
	position: relative;
}
.play-button {
	position: absolute;
	top: 45%; left: 50%;
	margin: -37px 0 0 -37px;
	background: url(img/play_arrow.png) no-repeat 30px center;
	background-color: rgba(76,71,75,.35);
	width: 77px; height: 77px;
	-moz-border-radius: 38px;
	border-radius: 38px;
	-webkit-transition: background-color .3s ease; 
	-moz-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.play-button:hover {
	background-color: rgba(76,71,75,.5);
}
.cta {
	text-align: center;
	padding: 30px 0;
}
.cta a {
	background: #333;
	color: #fff;
	display: inline-block;
  font-family: 'roboto_condensedregular',helvetica,sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 14px 22px;
	-webkit-transition: background .3s ease; 
	-moz-transition: background .3s ease;
	-ms-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;
}
.cta a:hover {
	background: #444;
}
.cta form {
	position: relative;
	width: 296px;
	margin: 10px auto;
	
}
.cta input[type="text"] {
	background: #000;
	border: 2px solid #333;
	color: #fff;
	outline: 0;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 8px 14px;
	width: 263px;
}

::-webkit-input-placeholder { 
	font-family: 'roboto_condenseditalic',helvetica,sans-serif; 
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}
:-moz-placeholder { 
	font-family: 'roboto_condenseditalic',helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}
::-moz-placeholder { 
	font-family: 'roboto_condenseditalic',helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}
:-ms-input-placeholder { 
	font-family: 'roboto_condenseditalic',helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}

.cta input[type="submit"] {
	background: url(img/submit_arrow.png) no-repeat center center #000;
	position: absolute;
	top: 3px; right: 3px;
	width: 30px;
	height: 30px;
	border: 0;
	outline: 0;
}

#instas {
  overflow: hidden;
  margin-bottom: 100px;
}

#instas li {
  width: 176px;
  float: left;
  margin-right: 5px;
}

#instas li img {
  width: 100%;
}

#instas li:nth-child(5n+5) {
  margin-right: 0px;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('fonts/robotocondensed-italic-webfont.eot');
    src: url('fonts/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotocondensed-italic-webfont.woff') format('woff'),
         url('fonts/robotocondensed-italic-webfont.ttf') format('truetype'),
         url('fonts/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.eot');
    src: url('fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}